*{
    margin: 0;
    padding: 0;
}

body{
    color: rgb(252, 249, 249);
    background: linear-gradient(50deg, goldenrod);
    text-align: center; 
    

  
}
form{
    padding: 20px;
    border-radius: 50px;
    height: 250px;
    background-position: center;
   
    
    
  
}


.form h1 input {
    background-color: rgb(252, 9, 9);
    padding: 60em;
    border-radius:30px ;
}

form input{
    padding: 7px;
    border-radius: 9px;
    margin: 2px;
    text-align: center;
    
  
}
h1{
    color: rgb(255, 253, 253);
    text-align: center;
   

}
.me{
    height: 200px;
    color: rgb(0, 0, 0);
    border-color: darkorange;
    border-radius: 11px;
    padding: 30px;
   
    margin-top: 30px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    display: flex;
    font-size: 20px;
  
    
}
form input[type="button"]{
    color: rgb(243, 240, 240);
    background-color: rgb(0, 0, 0);
    justify-content: center;
   
}
.me a{
    text-decoration: none;
    color: black;
}
*{
    margin: 0;
    padding: 0;

}
body{
    background-color: goldenrod;
 
    color: white;
    margin: 0;
    align-items: center;
    
}

header {
    display: flex;
    position: sticky;
    justify-content: center;
    padding:20px;
    border-radius: 9px;
    left: 20px;
    background: linear-gradient(50deg, red,yellow);
    flex-wrap: wrap;
    top: 0;
    width: 100vw;
    z-index: 9999999;
     

}

header strong{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header span{
    color: rgb(9, 14, 255);
    font-size: 50px;
    
}
header nav {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 19px;
    text-align: center;
    gap: 15px;
    z-index: 9999;
    
    
}
header nav a {
    color: rgb(240, 238, 238);
    text-decoration: none;
    text-align: center;
     
   
   
   
    
}
header nav :hover {
    color: rgb(0, 0, 0);
   
}
footer{
    background-color: black;
}
.btn{
    background-color: rgb(90, 90, 90);
    border-radius: 9px 2px;
}

footer{
    display: flex;
    color: black;
     background-color: rgb(233, 212, 20);
     height: 10vh;
    text-align: center;
    justify-content: center;
}
footer p {
    display:flex;
    justify-content: center;
    text-align: center;
    margin: 13px 15px;
    margin-bottom: 30px;
}




    .contact-form button:hover {
      background: #ff9800;
    }
    /* Get in Touch button */
.get-in-touch-btn {
  display: inline-block;
  padding: 10px;
  background: #f5d317; /* WhatsApp green */
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s, transform 0.2s;
  margin: 20px;
}

.get-in-touch-btn:hover {
  background: #eb5c09ff;
  transform: translateY(-3px);
}
.me{

}