*{
    margin: 0;
    padding: 0;

}
body{
    background-color: goldenrod;
 
    color: white;
    margin: 0;
    align-items: center;
    
}

header {
    display: flex;
    position: sticky;
    justify-content: center;
    padding:20px;
    border-radius: 9px;
    left: 20px;
    background: linear-gradient(50deg, red,yellow);
    flex-wrap: wrap;
    top: 0;
    width: 100vw;
    z-index: 9999999;
     

}

header strong{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header span{
    color: rgb(9, 14, 255);
    font-size: 50px;
    
}
header nav {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 19px;
    text-align: center;
    gap: 10px;
    z-index: 9999;
    
    
}
header nav a {
    color: rgb(240, 238, 238);
    text-decoration: none;
    text-align: center;
     
   
   
   
    
}
header nav :hover {
    color: rgb(0, 0, 0);
   
}
.container{
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
section{
    color: rgb(0, 0, 0);
    padding: 30px;
    margin: 3px;
    text-align: center;
    justify-content: center;
    box-shadow: 0  5px  1px rgba(161, 124, 29, 0.863);
    border-radius: 15px;
    background-color: rgb(233, 171, 14);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section P{
    margin: 10px;
}
section h2{
    text-shadow: 
    0 0 10px rgb(255, 238, 0),
    0 0 20px rgb(251, 255, 35),
    0 0 40px rgb(255, 255, 255);
}
.searchbox{

    padding: 5px;
    border: 2px solid gold;
    border-radius: 10px;
}
form button{
    color: rgb(248, 248, 248);
   
   
}

.item1 button a{
    color: rgb(240, 233, 233);
  

}
form{
    margin:40px;
    justify-content: center;
    text-align: center;
}
 

img{
    height: 130px;
    width: 190px;
    border-radius: 1rem;
    animation: bounce 4.9s infinite;

}
@keyframes bounce {
                0%{ transform: translateY(0);}
                50%{ transform: translateY(-10px);}
                100%{ transform: translateY(0);}
                100%{ transform: scale(1);}


            }
.card{
    padding: 20px 10px;
    border-radius: 40px;
    border: 1px solid rgb(228, 228, 233);
    margin: 18px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    z-index: 99999;
    background-color: rgb(255, 253, 253);
    
}
.card:hover{
    animation: card 1s ease;
}
@keyframes card{
    0%{
        transform: translateX(0px)translateZ(0px)rotateX(0deg) ;
    
    }
    50%{
        transform: translateY(12px);
    }
}
.card h3{
    text-align: center;
    color: rgb(247, 5, 5);
    font-size: 19px;
}
.card p{
    color: rgb(12, 12, 12);
    font-size: 19px;
    margin: 20px;
}
footer{
    display: flex;
    color: black;
    background-color: rgb(233, 212, 20);
    height: 10vh;
    text-align: center;
    justify-content: center;
  
}
footer p {
    display:flex;
    justify-content: center;
    text-align: center;
    margin: 13px 15px;
    margin-bottom: 30px;
}
button{
    background-color: rgb(0, 0, 0);
    text-decoration:none;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-radius: 20px;
    padding: 3px;
}
button a{
    color: aliceblue;
    text-decoration: none;
    display: flex;
}
button:hover{
    background-color: #ffe031;

   
}


